<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="/lib/fontawesome/css/all.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <wrapper class="d-flex flex-column">
        <partial name="_CookieConsentPartial" />
        <header id="top-nav" class="navbar navbar-expand flex-md-row flex-column">

            <div class="navbar-brand">
                <a class="nav-link" href="/home/index">
                    <img src="~/images/VoteLogoFullFinal.svg" height="36px;" alt="Alternate Text" />
                </a>
            </div>

            <div class="container">
                <div class="navbar-nav mr-auto">
                    <form asp-area="participant" asp-controller="events" asp-action="join" method="get" class="input-group ">
                        <input class="form-control" type="search" name="code" placeholder="CODE" aria-label="Join">
                        <span class="input-group-append">
                            <button class="btn btn-light" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </form>
                </div>

                <partial name="_LoginPartial" />
            </div>
        </header>

        <main style="background-color:#feffff">
            <div class="container">
                @RenderBody()
            </div>       
        </main>

        <footer>
            <nav class="navbar navbar-expand flex-md-row flex-column" id="bottom-nav">
                <ul class="navbar-nav mr-md-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-nowrap" href="#topNav">Back to top</a>
                    </li>
                </ul>
                <div class="ml-md-auto">
                    <span>Copyright &copy; 2018 by <a class="bright" href="/home/index">Vote.Inc</a> |</span>
                    <span>Coded by <a class="bright" href="#">B.B.</a></span>
                </div>
            </nav>
        </footer>
    </wrapper>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
