<ul class="navbar-nav ml-auto">
    <li class="nav-item active col-md-3">
        <a class="nav-link" href="/home/index">Home</a>
    </li>
    
    <li class="nav-item active col-md-3">
        <a class="nav-link text-nowrap" href="/kittens/all">All kittens</a>
    </li>
    <li class="nav-item active col-md-3">
        <a class="nav-link text-nowrap" href="/kittens/add">Add kitten</a>
    </li>
    <li class="nav-item active col-md-3">
        <a class="nav-link" href="/users/logout">Logout</a>
    </li>
</ul>