@model IEnumerable<UserInfoModel>
@{
    ViewData["Title"] = "UsersList";
}

<h2>List of @ViewData["Users"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Full Name</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayForModel()
    </tbody>
</table>