@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p class="h4 font-weight-bold">We make the people we train real professionals in the software industry and help them get their career started!</p>