@{
    ViewData["Title"] = "Curriculum";
}
<h2>@ViewData["Title"]</h2>
<h3>Student's curriculum</h3>

<table class="table table-bordered">
    <thead>
        <tr class="text-center">
            <th colspan="4">Entry module</th>
        </tr>
        <tr class="text-center">
            <th colspan="4">Tech module</th>
        </tr>
        <tr class="text-center table-info">
            <th colspan="4">Proffesional modules</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="bg-warning">C# Web Developer</td>
            <td class="bg-success">Java Web Developer</td>
            <td class="bg-warning">PHP Developer</td>
            <td class="bg-success">JavaScript Developer</td>
        </tr>
        <tr>
            <td>C# Fundamentals</td>
            <td>Java Fundamentals</td>
            <td>PHP Web</td>
            <td>JS Core</td>
        </tr>
        <tr>
            <td>C# DB Fundamentals</td>
            <td>Java DB Fundamentals</td>
            <td>JS Core</td>
            <td>JS Web</td>
        </tr>
        <tr>
            <td>C# Web</td>
            <td>Java web</td>
            <td>Front-End Development</td>
            <td>Front-End Development</td>
        </tr>
        <tr>
            <td>JS Core</td>
            <td>JS Core</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Front-End Development</td>
            <td>Front-End Development</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>