@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2 class="text-center m-2">Description:</h2>
<br />
<div  class="h4 col-md-8 ml-auto mr-auto" style="line-height:2em;">
    <p>
        A "<strong>Our library</strong>" system is software that has been developed to <br />
        handle basic housekeeping functions of a library.
    </p>
    <ul>
        <li> It's a well organized management system for a library.</li>
        <li> It's keep track of book issued, returned and added to library.</li>
    </ul>
</div>