<hr class="my-2">
<span class="alert-danger col-sm-4 col-lg-6 text-center" style="padding:0;">{{{message}}}</span>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="form-holder text-center">
            <form class="form-inline" action="/users/login" method="post">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="username">Username</label>
                        <div class="controls">
                            <input type="text" id="username" name="Username" class="input-xlarge">
                        </div>
                    </div>
                    <br />
                    
                    <div class="control-group">
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="password" id="password" name="Password" class="input-xlarge">
                        </div>
                    </div>
                    <br />                    
                    
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-success">Login</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<hr class="my-5" />