@{
    ViewData["Title"] = "About";
}
<h2>How to start?</h2>

<p class="information">
    <span class="bright">eVote</span> is an easy-to-use tool - no installations or downloads required.<br />

    And it's free!<br />

    Simply create an account to start using <span class="bright">eVote</span> in seconds!<br />   

    <span class="bright">eVote</span> is so easy to use that we think it's best explained by letting you try it yourself.<br />

    Just enter the code and vote!<br />
</p>

<h2>Lecturer or instructor?</h2>
<p class="information">
    <span class="bright">eVote</span> gives presenters feedback on their presentations.<br />

    Fill your presentation with questions that you would like to ask your audience.<br />

    Show your presentation to begin audience participation!<br />

    Engage your audience. Try out live voting.<br />

    Remove the fear of asking questions.<br />

    Deliver an unforgettable presentation.
</p>

