@{
    ViewData["Title"] = "Home";
}

<div class="important text-center">
    <br />
    <h1 >
        <span class="text-white">THIS IS </span><img src="~/images/VoteLogoFullFinal.svg" height="36px;"/><br />
        The free platform<br />
        for meetings, training<br />
        events, conferences.
    </h1>
</div>




