@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>
    Vote Inc. Cookie Policy
</h1>
<br />
<ul style="list-style-type:none">
    <li><strong>We don’t ask you for personal information unless we truly need it.</strong></li>
    <li><strong>We don’t share your personal information with anyone.</strong></li>
    <li><strong>We aim to make it as simple as possible for you to control what is visible to the public.</strong></li>
</ul>
<h5>
    <strong>HOW DOES Vote USE COOKIES?</strong>
</h5>
<p>
    A cookie is a small piece of text that allows a website to recognize your device.
    It maintain a consistent experience over multiple sessions.<br />
    This policy describes how Vote use cookies and how you can exercise a greater degree of control over cookies.<br />
    Please keep in mind that this may alter your experience with our platform,
    and may limit certain features (including being logged in as a user).<br />
    <strong>General Browsing:</strong> We use cookies that are important for certain technical features of our website,
    like logging into user accounts and implementing fixes and improvements to our platform.
</p>
<p>
    <strong>These cookies:</strong><br />
    Validate the authenticity of persons attempting to gain access to a specific user account.<br />
    Allow users to choose from a list of our products.<br />
    Enable behavior in our Products and/or Services that is tailored to the activity or preferences of a person visiting our properties.<br />
    Allow users to opt out of certain types of modeling, tailoring, or personalization in our products.<br />
    Collect information on our users’ preferences in order to create more useful products.<br />
    Help to diagnose and correct downtime, bugs, and errors in our code to ensure that our products are operating efficiently.<br />
</p>

<small>This Policy is effective as of August 15th, 2018.</small>
