<div class="container">
    <div class="col-lg-11 col-sm-4">
        <h1>Organizing:</h1>
        <p>
            Taking notes and keeping them organized
            is an important part of the schooling and the work worlds.
            You'll need organized notes for studying for exams,
            for writing essays, and for keeping track of work decisions and assignments.
            Keeping them organized will not only help you with these tasks,
            but it will also help you remember your material more easily.
        </p>
        <p>
            True to its name, Notes offers a clutter-free space for typing notes.
            There are no frills here—just a blank canvas for plain-text notes about meetings,
            weekend plans, and more. You can't add images or attachments,
            but you can quickly write down text notes and search through your entire collection.
        </p>
    </div>
</div>