<div class="navbar-nav ml-auto">
    <form href="/Search" method="get" class="input-group ">
        <input class="form-control" type="search" name="searchTerm" placeholder="Search the site" aria-label="Search">
        <span class="input-group-append">
            <button class="btn btn-light" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </form>
</div>