<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectToDB.Properties.Settings.connString" connectionString="Data Source=V310LENOVO;Initial Catalog=Sales;Integrated Security=True;Pooling=False" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>