@model ResourceBindingModel
@{
    ViewData["Title"] = "Add Resource";
}

<div class="col-lg-12">
    <h1 class="h2 m-2">Add Resource</h1>
</div>
<hr />

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card text-dark bg-light">
                <div class="card-header bg-dark text-center text-light"><h4>Add Resource.</h4></div>
                <div class="col-sm-10 ml-auto mr-auto">
                    <form asp-area="Trainer" asp-controller="Resources" asp-action="AddResource" method="post">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        @Html.DropDownListFor(m => m.ResourceTypeId, Model.ResourceTypes, "-- select type --", new { @class = "form-control" })
                        <br />
                        @Html.FormGroupFor(model => model.ResourceUrl)
                        @Html.FormGroupFor(model => model.Title)
                        <br />
                        <input asp-for="LectureId" type="hidden" class="form-control" />
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary font-weight-bold m-2 ml-auto">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>